<template>
  <div class="modal-card">
    <section class="modal-card-body is-titleless">
      <b-field label="Find a film">
        <b-autocomplete
          ref="input"
          rounded
          v-model="name"
          :data="filteredDataArray"
          placeholder="e.g. Grand Hotel Budapest"
          icon="magnify"
          clearable
          append-to-body
          :autofocus="true"
          @select="option => selected = option"
        >
          <template slot="empty">No results found</template>
        </b-autocomplete>
      </b-field>
    </section>
    <section class="modal-card-foot">
      <b-button type="is-success" :disabled="!selected" @click="fetchNewData(selected); toggleModal">Go</b-button>
    </section>
  </div>
</template>

<script>
import {mapActions} from 'vuex';
export default {
  data() {
    return {
      data: [
          'Grand Hotel Budapest',
          'The Shape of the Water',
          'Lady Bird',
      ],
      name: '',
      selected: null
    }
  },
  computed: {
    filteredDataArray() {
      return this.data.filter((option) => {
          return option
              .toString()
              .toLowerCase()
              .indexOf(this.name.toLowerCase()) >= 0
      })
    },
    ...mapActions([
      "toggleModal",
    ]),
  },
  methods: {
    ...mapActions([
      "fetchNewData",
    ]),
  },
  mounted() {
    this.$nextTick(() => {
      this.$refs.input.focus();
    });
  }
}
</script>

<style scoped>
.dialog .modal-card {
  width: 640px !important;
  max-width: initial !important;
}
</style>