<script>
import { Pie } from 'vue-chartjs'
import {mapState, mapGetters} from 'vuex';

const options = {};
export default {
  extends: Pie,
  mounted () {
    this.renderChart(this.chartData, options);
  },
  created() {
    this.chartData = {
      labels: this.countriesToBar.labels,
      datasets: [
        {
          label: "Number of peers",
          backgroundColor: ["#1f77b4", "#ff7f0e", "#2ca02c", "#d62728", "#9467bd",
            "#8c564b", "#e377c2", "#7f7f7f", "#bcbd22", "#17becf"],
          data: this.countriesToBar.data,
        }
      ]
    };
  },
  computed: {
    ...mapState([
      "countries"
    ]),
    ...mapGetters([
      "getTop10Countries",
      "countriesToBar",
    ])
  }
}
</script>

<style scoped>
</style>