<template>
  <div id="app">
    <section>
      <b-sidebar
        type="is-light"
        position="fixed"
        :fullheight="true"
        :overlay="false"
        :right="false"
        :expand-on-hover="true"
        :reduce="true"
        :can-cancel="false"
        open
      >
        <div class="p-1">
          <b-menu>
            <b-menu-list label="Menu">
              <b-menu-item
              active icon="search"
              label="New Search"
              @click="toggleModal"
              ></b-menu-item>
              <!--<b-menu-item label="Explore">
                <b-menu-item label="Past searches"></b-menu-item>
                <b-menu-item label="Total"></b-menu-item>
              </b-menu-item>
              <b-menu-item label="About"></b-menu-item>-->
            </b-menu-list>
          </b-menu>
        </div>
      </b-sidebar>
    </section>
    <section class="data tile is-ancestor">
      <div class="tile is-vertical is-parent">
        <div class="tile is-child box">
          <!-- <p class="title">Map</p> -->
          <Map
          />
        </div>
        <div class="tile is-parent">
          <div class="tile is-6 is-child box">
            <!-- <p class="title">Two</p> -->
            <BarChart
            :height="300"
            />
          </div>
          <div class="tile is-6 is-child box">
            <!-- <p class="title">Three</p> -->
            <PieChart
            :height="300"
            />
          </div>
        </div>
        <div class="tile is-child box">
          <!-- <p class="title">Four</p> -->
          <Table
          style="padding: 30px"
          />
        </div>
      </div>
    </section>
    <section>
      <b-modal
      :active="isModalVisible"
      @update:active="toggleModal"
      :has-modal-card="true"
      custom-class="dialog"
      >
          <FilmPrompt
          />
      </b-modal>
    </section>
  </div>
</template>

<script>
import Map from './components/Map.vue';
import BarChart from './components/BarChart.vue';
import PieChart from './components/PieChart.vue';
import Table from './components/Table.vue';
import FilmPrompt from './components/FilmPrompt.vue';
import {mapActions, mapState} from 'vuex';

export default {
  name: 'App',
  components: {
    Map,
    BarChart,
    PieChart,
    Table,
    FilmPrompt,
  },
  methods: {
    prompt() {
      this.$buefy.modal.open({
                    parent: this,
                    component: Map,
                    hasModalCard: true,
                    trapFocus: true
                })
    },
    ...mapActions([
      "toggleModal"
    ]),
  },
  watch: {
    notification(val) {
      if (val) {
        this.$buefy.notification.open(val);
      }
    }
  },
  computed: {
    ...mapState([
      "isModalVisible",
      "notification",
    ]),
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.p-1 {
  padding: 1em;
}
/* When not hovering over the sidebar, it is reduced and we dont display
the text, just the icons */
.b-sidebar .is-mini-expand:not(:hover) .menu-list li a span:nth-child(2) {
  display: none;
}
/* Style for the icon that appears on the sidebar */
.b-sidebar .sidebar-content .menu-list li a span:nth-child(1) {
  display: inline-block;
  margin-right: 10px;
}
.b-sidebar {
  /* Display above the map and the charts */
  position: absolute;
  z-index: 10;
  /*z-index: 1000;*/
}
.data {
  padding-left: 60px;
}
.vue2leaflet-map {
  z-index: 1
}
</style>
